# .zshrc by anton@bnext.bio

# === ZSH Config ===
bindkey -e

{{ if eq .chezmoi.os "linux" }}
# Configure homebrew if it is installed
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

# Prepend our local path
export PATH=$HOME/.local/bin:$PATH

# === Antidote Plugins ===
source ${ZDOTDIR:-$HOME}/.antidote/antidote.zsh
antidote load

# === Environment ===
if [[ -x $(which nvim) ]]; then
  export EDITOR="$(which nvim)"
  export VISUAL="$(which nvim)"
fi

EZA_ICON_SPACING=2

#AUTOSWITCH_DEFAULT_CONDAENV=base

# === Aliases ===
alias ls='eza --color=always --icons=auto --group-directories-first' # just replace ls by exa and allow all other exa arguments
alias l='ls -lbF' #   list, size, type
alias ll='ls -laag' # long, all
alias lll='ls -laag | less'
alias llm='ll --sort=modified' # list, long, sort by modification date
alias la='ls -lbhHigUmuSa' # all list
alias lx='ls -lbhHigUmuSa@' # all list and extended
alias tree='eza --tree' # tree view
alias lS='eza -1' # one column by just names
alias less='less -R' # passthrough colors
alias tm='tmux new -A -s main'
alias ssh="TERM=xterm-256color ssh"
alias vim="nvim"

# === Tools Setup ===
eval "$(zoxide init zsh)"
source <(fzf --zsh)

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Atuin
ATUIN_PATH="${ZDOTDIR:-$HOME}/.atuin"
if [ -d "${ATUIN_PATH}" ]; then
  export PATH="${ATUIN_PATH}/bin:$PATH"
  eval "$(atuin init zsh)"
fi

{{ if eq .chezmoi.os "darwin" }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/homebrew/Caskroom/miniforge/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/Caskroom/miniforge/base/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/Caskroom/miniforge/base/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/Caskroom/miniforge/base/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{ end }}
