{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# Basics
brew install btop
brew install git
brew install eza
brew install mosh
brew install fzf
brew install zoxide
brew install bat
brew install chafa
brew install exiftool
brew install ripgrep

# Fonts
brew install --cask font-iosevka
brew install --cask font-iosevka-nerd-font

# Dev
brew install poetry
brew install uv
{{ end -}}
